In [16]:
import os
from io import StringIO
from azure.storage.blob import BlobClient

import pandas as pd

In [6]:
FILE_TO_UPLOAD = "train_payload2_azureml v3.4.csv"

In [9]:
df = pd.read_csv(f"../walmart_sales/{FILE_TO_UPLOAD}")

In [3]:
STORAGE_ACCOUNT_NAME = "walmartsales2005913347"
STORAGE_ACCOUNT_KEY = "uPu7IRa/73JZvkiEBVBAsb8D36g1ZeoRT0YMG7l7ConyJe8aoVKoTwDpDESjZRhs0Mnt6wai7Dwh/IfSAa/B0g=="

In [4]:
conn_string = (
     'DefaultEndpointsProtocol=https;'
    + f'AccountName={STORAGE_ACCOUNT_NAME};'
    + f'AccountKey={STORAGE_ACCOUNT_KEY};'
    + 'EndpointSuffix=core.windows.net'
)

In [12]:
blob_client = BlobClient.from_connection_string(conn_string, 
    container_name="payloads",
    blob_name= f"sales/{FILE_TO_UPLOAD}"
)

## Uploading CSV to Blob Storage

In [13]:
# with open("") as data:
#     blob_client.upload(data)

# Alternatively, can use pandas
blob_client.upload_blob(
    df.to_csv(index=False, header=True).encode()
)

{'etag': '"0x8D9D4D7A16DED76"',
 'last_modified': datetime.datetime(2022, 1, 11, 7, 54, 44, tzinfo=datetime.timezone.utc),
 'content_md5': bytearray(b'\xfc\x96\xedCj\x0b\xb6\xe3,5\x01\xfdn\xcc\x08K'),
 'client_request_id': 'bd1f75ac-72b3-11ec-9667-415645000030',
 'request_id': 'be72a7ed-301e-0001-17c0-06afc9000000',
 'version': '2019-07-07',
 'date': datetime.datetime(2022, 1, 11, 7, 54, 43, tzinfo=datetime.timezone.utc),
 'request_server_encrypted': True,
 'encryption_key_sha256': None,
 'encryption_scope': None,
 'error_code': None}

## Downloading from Blob Storage

In [14]:
stream = blob_client.download_blob()

In [17]:
buffer = StringIO(stream.content_as_text())

In [19]:
dataframe = pd.read_csv(buffer)

In [20]:
dataframe

,Region,Date,Weekly_Sales,Temperature,Fuel_Price,CPI,Unemployment,Size
0,1,2010-02-05,1643690.90,42.31,2.572,211.096358,8.106,151315
1,1,2010-02-12,1641957.44,38.51,2.548,211.242170,8.106,151315
2,1,2010-02-19,1611968.17,39.93,2.514,211.289143,8.106,151315
3,1,2010-02-26,1409727.59,46.63,2.561,211.319643,8.106,151315
4,1,2010-03-05,1554806.68,46.50,2.625,211.350143,8.106,151315
...,...,...,...,...,...,...,...,...
1375,12,2012-03-16,1088498.52,64.44,4.273,130.826193,12.187,112238
1376,12,2012-03-23,1045419.87,56.26,4.038,130.896645,12.187,112238
1377,12,2012-03-30,1025382.22,64.36,4.294,130.967097,12.187,112238
1378,12,2012-04-06,1128765.71,64.05,4.121,131.037548,11.627,112238
1379,12,2012-04-13,1083811.19,64.28,4.254,131.108000,11.627,112238