In [1]:
import numpy as np
import pandas as pd

C:\Users\XA155XB\Anaconda3\envs\walmart2\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\XA155XB\Anaconda3\envs\walmart2\lib\site-packages\numpy\.libs\libopenblas.QVLO2T66WEPI7JZ63PS3HMOHFEY472BC.gfortran-win_amd64.dll
C:\Users\XA155XB\Anaconda3\envs\walmart2\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
train = pd.read_csv("../walmart_sales/train_payload2_azureml v3.4.csv")
test = pd.read_csv("../walmart_sales/test_payload2_azureml v3.4.csv")

In [3]:
train["Date"] = pd.to_datetime(train["Date"])
test["Date"] = pd.to_datetime(test["Date"])

In [16]:
df = pd.concat([train, test]).set_index(["Region", "Date"]).sort_index(ascending=True).reset_index()

In [17]:
print(df[df["Region"]==1].to_markdown())

|     |   Region | Date                |   Weekly_Sales |   Temperature |   Fuel_Price |     CPI |   Unemployment |   Size |
|----:|---------:|:--------------------|---------------:|--------------:|-------------:|--------:|---------------:|-------:|
|   0 |        1 | 2010-02-05 00:00:00 |    1.64369e+06 |         42.31 |        2.572 | 211.096 |          8.106 | 151315 |
|   1 |        1 | 2010-02-12 00:00:00 |    1.64196e+06 |         38.51 |        2.548 | 211.242 |          8.106 | 151315 |
|   2 |        1 | 2010-02-19 00:00:00 |    1.61197e+06 |         39.93 |        2.514 | 211.289 |          8.106 | 151315 |
|   3 |        1 | 2010-02-26 00:00:00 |    1.40973e+06 |         46.63 |        2.561 | 211.32  |          8.106 | 151315 |
|   4 |        1 | 2010-03-05 00:00:00 |    1.55481e+06 |         46.5  |        2.625 | 211.35  |          8.106 | 151315 |
|   5 |        1 | 2010-03-12 00:00:00 |    1.43954e+06 |         57.79 |        2.667 | 211.381 |          8.106 | 151315 |
|   6 |        1 | 2010-03-19 00:00:00 |    1.47252e+06 |         54.58 |        2.72  | 211.216 |          8.106 | 151315 |
|   7 |        1 | 2010-03-26 00:00:00 |    1.40443e+06 |         51.45 |        2.732 | 211.018 |          8.106 | 151315 |
|   8 |        1 | 2010-04-02 00:00:00 |    1.59497e+06 |         62.27 |        2.719 | 210.82  |          7.808 | 151315 |
|   9 |        1 | 2010-04-09 00:00:00 |    1.54542e+06 |         65.86 |        2.77  | 210.623 |          7.808 | 151315 |
|  10 |        1 | 2010-04-16 00:00:00 |    1.46606e+06 |         66.32 |        2.808 | 210.489 |          7.808 | 151315 |
|  11 |        1 | 2010-04-23 00:00:00 |    1.39126e+06 |         64.84 |        2.795 | 210.439 |          7.808 | 151315 |
|  12 |        1 | 2010-04-30 00:00:00 |    1.4251e+06  |         67.41 |        2.78  | 210.39  |          7.808 | 151315 |
|  13 |        1 | 2010-05-07 00:00:00 |    1.60396e+06 |         72.55 |        2.835 | 210.34  |          7.808 | 151315 |
|  14 |        1 | 2010-05-14 00:00:00 |    1.49425e+06 |         74.78 |        2.854 | 210.337 |          7.808 | 151315 |
|  15 |        1 | 2010-05-21 00:00:00 |    1.39966e+06 |         76.44 |        2.826 | 210.617 |          7.808 | 151315 |
|  16 |        1 | 2010-05-28 00:00:00 |    1.43207e+06 |         80.44 |        2.759 | 210.897 |          7.808 | 151315 |
|  17 |        1 | 2010-06-04 00:00:00 |    1.61552e+06 |         80.69 |        2.705 | 211.176 |          7.808 | 151315 |
|  18 |        1 | 2010-06-11 00:00:00 |    1.54256e+06 |         80.43 |        2.668 | 211.456 |          7.808 | 151315 |
|  19 |        1 | 2010-06-18 00:00:00 |    1.50328e+06 |         84.11 |        2.637 | 211.454 |          7.808 | 151315 |
|  20 |        1 | 2010-06-25 00:00:00 |    1.42271e+06 |         84.34 |        2.653 | 211.339 |          7.808 | 151315 |
|  21 |        1 | 2010-07-02 00:00:00 |    1.49242e+06 |         80.91 |        2.669 | 211.224 |          7.787 | 151315 |
|  22 |        1 | 2010-07-09 00:00:00 |    1.54607e+06 |         80.48 |        2.642 | 211.108 |          7.787 | 151315 |
|  23 |        1 | 2010-07-16 00:00:00 |    1.44894e+06 |         83.15 |        2.623 | 211.1   |          7.787 | 151315 |
|  24 |        1 | 2010-07-23 00:00:00 |    1.38507e+06 |         83.36 |        2.608 | 211.235 |          7.787 | 151315 |
|  25 |        1 | 2010-07-30 00:00:00 |    1.37199e+06 |         81.84 |        2.64  | 211.37  |          7.787 | 151315 |
|  26 |        1 | 2010-08-06 00:00:00 |    1.60549e+06 |         87.16 |        2.627 | 211.505 |          7.787 | 151315 |
|  27 |        1 | 2010-08-13 00:00:00 |    1.50824e+06 |         87    |        2.692 | 211.639 |          7.787 | 151315 |
|  28 |        1 | 2010-08-20 00:00:00 |    1.51308e+06 |         86.65 |        2.664 | 211.603 |          7.787 | 151315 |
|  29 |        1 | 2010-08-27 00:00:00 |    1.44914e+06 |         85.22 |        2.619 | 211.567 |          7.787 | 151315 |
|  30 |        1 | 2010-09-03 00:00:00 |    1.54016e+06 |         81.21 |        2.577 | 211.531 |          7.787 | 151315 |
|  31 |        1 | 2010-09-10 00:00:00 |    1.50746e+06 |         78.69 |        2.565 | 211.495 |          7.787 | 151315 |
|  32 |        1 | 2010-09-17 00:00:00 |    1.43038e+06 |         82.11 |        2.582 | 211.522 |          7.787 | 151315 |
|  33 |        1 | 2010-09-24 00:00:00 |    1.35179e+06 |         80.94 |        2.624 | 211.597 |          7.787 | 151315 |
|  34 |        1 | 2010-10-01 00:00:00 |    1.45333e+06 |         71.89 |        2.603 | 211.672 |          7.838 | 151315 |
|  35 |        1 | 2010-10-08 00:00:00 |    1.50824e+06 |         63.93 |        2.633 | 211.747 |          7.838 | 151315 |
|  36 |        1 | 2010-10-15 00:00:00 |    1.45941e+06 |         67.18 |        2.72  | 211.814 |          7.838 | 151315 |
|  37 |        1 | 2010-10-22 00:00:00 |    1.34545e+06 |         69.86 |        2.725 | 211.861 |          7.838 | 151315 |
|  38 |        1 | 2010-10-29 00:00:00 |    1.38421e+06 |         69.64 |        2.716 | 211.909 |          7.838 | 151315 |
|  39 |        1 | 2010-11-05 00:00:00 |    1.55166e+06 |         58.74 |        2.689 | 211.956 |          7.838 | 151315 |
|  40 |        1 | 2010-11-12 00:00:00 |    1.49448e+06 |         59.61 |        2.728 | 212.004 |          7.838 | 151315 |
|  41 |        1 | 2010-11-19 00:00:00 |    1.48378e+06 |         51.41 |        2.771 | 211.89  |          7.838 | 151315 |
|  42 |        1 | 2010-11-26 00:00:00 |    1.95562e+06 |         64.52 |        2.735 | 211.748 |          7.838 | 151315 |
|  43 |        1 | 2010-12-03 00:00:00 |    1.54803e+06 |         49.27 |        2.708 | 211.607 |          7.838 | 151315 |
|  44 |        1 | 2010-12-10 00:00:00 |    1.68261e+06 |         46.33 |        2.843 | 211.466 |          7.838 | 151315 |
|  45 |        1 | 2010-12-17 00:00:00 |    1.89103e+06 |         49.84 |        2.869 | 211.405 |          7.838 | 151315 |
|  46 |        1 | 2010-12-24 00:00:00 |    2.38795e+06 |         52.33 |        2.886 | 211.405 |          7.838 | 151315 |
|  47 |        1 | 2010-12-31 00:00:00 |    1.36732e+06 |         48.43 |        2.943 | 211.405 |          7.838 | 151315 |
|  48 |        1 | 2011-01-07 00:00:00 |    1.44473e+06 |         48.27 |        2.976 | 211.405 |          7.742 | 151315 |
|  49 |        1 | 2011-01-14 00:00:00 |    1.39101e+06 |         35.4  |        2.983 | 211.457 |          7.742 | 151315 |
|  50 |        1 | 2011-01-21 00:00:00 |    1.32741e+06 |         44.04 |        3.016 | 211.827 |          7.742 | 151315 |
|  51 |        1 | 2011-01-28 00:00:00 |    1.3169e+06  |         43.83 |        3.01  | 212.197 |          7.742 | 151315 |
|  52 |        1 | 2011-02-04 00:00:00 |    1.60663e+06 |         42.27 |        2.989 | 212.567 |          7.742 | 151315 |
|  53 |        1 | 2011-02-11 00:00:00 |    1.64961e+06 |         36.39 |        3.022 | 212.937 |          7.742 | 151315 |
|  54 |        1 | 2011-02-18 00:00:00 |    1.68684e+06 |         57.36 |        3.045 | 213.248 |          7.742 | 151315 |
|  55 |        1 | 2011-02-25 00:00:00 |    1.4568e+06  |         62.9  |        3.065 | 213.536 |          7.742 | 151315 |
|  56 |        1 | 2011-03-04 00:00:00 |    1.63626e+06 |         59.58 |        3.288 | 213.823 |          7.742 | 151315 |
|  57 |        1 | 2011-03-11 00:00:00 |    1.55319e+06 |         53.56 |        3.459 | 214.111 |          7.742 | 151315 |
|  58 |        1 | 2011-03-18 00:00:00 |    1.57682e+06 |         62.76 |        3.488 | 214.363 |          7.742 | 151315 |
|  59 |        1 | 2011-03-25 00:00:00 |    1.5411e+06  |         69.97 |        3.473 | 214.6   |          7.742 | 151315 |
|  60 |        1 | 2011-04-01 00:00:00 |    1.49506e+06 |         59.17 |        3.524 | 214.837 |          7.682 | 151315 |
|  61 |        1 | 2011-04-08 00:00:00 |    1.61426e+06 |         67.84 |        3.622 | 215.074 |          7.682 | 151315 |
|  62 |        1 | 2011-04-15 00:00:00 |    1.55989e+06 |         71.27 |        3.743 | 215.292 |          7.682 | 151315 |
|  63 |        1 | 2011-04-22 00:00:00 |    1.56482e+06 |         72.99 |        3.807 | 215.46  |          7.682 | 151315 |
|  64 |        1 | 2011-04-29 00:00:00 |    1.45509e+06 |         72.03 |        3.81  | 215.628 |          7.682 | 151315 |
|  65 |        1 | 2011-05-06 00:00:00 |    1.62939e+06 |         64.61 |        3.906 | 215.796 |          7.682 | 151315 |
|  66 |        1 | 2011-05-13 00:00:00 |    1.60478e+06 |         75.64 |        3.899 | 215.964 |          7.682 | 151315 |
|  67 |        1 | 2011-05-20 00:00:00 |    1.42822e+06 |         67.63 |        3.907 | 215.734 |          7.682 | 151315 |
|  68 |        1 | 2011-05-27 00:00:00 |    1.46605e+06 |         77.72 |        3.786 | 215.504 |          7.682 | 151315 |
|  69 |        1 | 2011-06-03 00:00:00 |    1.63508e+06 |         83    |        3.699 | 215.274 |          7.682 | 151315 |
|  70 |        1 | 2011-06-10 00:00:00 |    1.58895e+06 |         83.13 |        3.648 | 215.044 |          7.682 | 151315 |
|  71 |        1 | 2011-06-17 00:00:00 |    1.53211e+06 |         86.41 |        3.637 | 214.998 |          7.682 | 151315 |
|  72 |        1 | 2011-06-24 00:00:00 |    1.43883e+06 |         83.58 |        3.594 | 215.091 |          7.682 | 151315 |
|  73 |        1 | 2011-07-01 00:00:00 |    1.48854e+06 |         85.55 |        3.524 | 215.184 |          7.962 | 151315 |
|  74 |        1 | 2011-07-08 00:00:00 |    1.53485e+06 |         85.83 |        3.48  | 215.277 |          7.962 | 151315 |
|  75 |        1 | 2011-07-15 00:00:00 |    1.45512e+06 |         88.54 |        3.575 | 215.361 |          7.962 | 151315 |
|  76 |        1 | 2011-07-22 00:00:00 |    1.39693e+06 |         85.77 |        3.651 | 215.422 |          7.962 | 151315 |
|  77 |        1 | 2011-07-29 00:00:00 |    1.35222e+06 |         86.83 |        3.682 | 215.483 |          7.962 | 151315 |
|  78 |        1 | 2011-08-05 00:00:00 |    1.62438e+06 |         91.65 |        3.684 | 215.545 |          7.962 | 151315 |
|  79 |        1 | 2011-08-12 00:00:00 |    1.52515e+06 |         90.76 |        3.638 | 215.606 |          7.962 | 151315 |
|  80 |        1 | 2011-08-19 00:00:00 |    1.53076e+06 |         89.94 |        3.554 | 215.669 |          7.962 | 151315 |
|  81 |        1 | 2011-08-26 00:00:00 |    1.46469e+06 |         87.96 |        3.523 | 215.733 |          7.962 | 151315 |
|  82 |        1 | 2011-09-02 00:00:00 |    1.55023e+06 |         87.83 |        3.533 | 215.797 |          7.962 | 151315 |
|  83 |        1 | 2011-09-09 00:00:00 |    1.54047e+06 |         76    |        3.546 | 215.861 |          7.962 | 151315 |
|  84 |        1 | 2011-09-16 00:00:00 |    1.51426e+06 |         79.94 |        3.526 | 216.041 |          7.962 | 151315 |
|  85 |        1 | 2011-09-23 00:00:00 |    1.38002e+06 |         75.8  |        3.467 | 216.376 |          7.962 | 151315 |
|  86 |        1 | 2011-09-30 00:00:00 |    1.39456e+06 |         79.69 |        3.355 | 216.711 |          7.962 | 151315 |
|  87 |        1 | 2011-10-07 00:00:00 |    1.63099e+06 |         69.31 |        3.285 | 217.045 |          7.866 | 151315 |
|  88 |        1 | 2011-10-14 00:00:00 |    1.49353e+06 |         71.74 |        3.274 | 217.355 |          7.866 | 151315 |
|  89 |        1 | 2011-10-21 00:00:00 |    1.50256e+06 |         63.71 |        3.353 | 217.516 |          7.866 | 151315 |
|  90 |        1 | 2011-10-28 00:00:00 |    1.44525e+06 |         66.57 |        3.372 | 217.677 |          7.866 | 151315 |
|  91 |        1 | 2011-11-04 00:00:00 |    1.69723e+06 |         54.98 |        3.332 | 217.837 |          7.866 | 151315 |
|  92 |        1 | 2011-11-11 00:00:00 |    1.59494e+06 |         59.11 |        3.297 | 217.998 |          7.866 | 151315 |
|  93 |        1 | 2011-11-18 00:00:00 |    1.53948e+06 |         62.25 |        3.308 | 218.221 |          7.866 | 151315 |
|  94 |        1 | 2011-11-25 00:00:00 |    2.03332e+06 |         60.14 |        3.236 | 218.468 |          7.866 | 151315 |
|  95 |        1 | 2011-12-02 00:00:00 |    1.58408e+06 |         48.91 |        3.172 | 218.715 |          7.866 | 151315 |
|  96 |        1 | 2011-12-09 00:00:00 |    1.79968e+06 |         43.93 |        3.158 | 218.962 |          7.866 | 151315 |
|  97 |        1 | 2011-12-16 00:00:00 |    1.88118e+06 |         51.63 |        3.159 | 219.179 |          7.866 | 151315 |
|  98 |        1 | 2011-12-23 00:00:00 |    2.27019e+06 |         47.96 |        3.112 | 219.358 |          7.866 | 151315 |
|  99 |        1 | 2011-12-30 00:00:00 |    1.49746e+06 |         44.55 |        3.129 | 219.536 |          7.866 | 151315 |
| 100 |        1 | 2012-01-06 00:00:00 |    1.55037e+06 |         49.01 |        3.157 | 219.714 |          7.348 | 151315 |
| 101 |        1 | 2012-01-13 00:00:00 |    1.4596e+06  |         48.53 |        3.261 | 219.893 |          7.348 | 151315 |
| 102 |        1 | 2012-01-20 00:00:00 |    1.39439e+06 |         54.11 |        3.268 | 219.986 |          7.348 | 151315 |
| 103 |        1 | 2012-01-27 00:00:00 |    1.31933e+06 |         54.26 |        3.29  | 220.079 |          7.348 | 151315 |
| 104 |        1 | 2012-02-03 00:00:00 |    1.63634e+06 |         56.55 |        3.36  | 220.172 |          7.348 | 151315 |
| 105 |        1 | 2012-02-10 00:00:00 |    1.80248e+06 |         48.02 |        3.409 | 220.265 |          7.348 | 151315 |
| 106 |        1 | 2012-02-17 00:00:00 |    1.81987e+06 |         45.32 |        3.51  | 220.426 |          7.348 | 151315 |
| 107 |        1 | 2012-02-24 00:00:00 |    1.53939e+06 |         57.25 |        3.555 | 220.637 |          7.348 | 151315 |
| 108 |        1 | 2012-03-02 00:00:00 |    1.68842e+06 |         60.96 |        3.63  | 220.848 |          7.348 | 151315 |
| 109 |        1 | 2012-03-09 00:00:00 |    1.67543e+06 |         58.76 |        3.669 | 221.059 |          7.348 | 151315 |
| 110 |        1 | 2012-03-16 00:00:00 |    1.67747e+06 |         64.74 |        3.734 | 221.212 |          7.348 | 151315 |
| 111 |        1 | 2012-03-23 00:00:00 |    1.51107e+06 |         65.93 |        3.787 | 221.286 |          7.348 | 151315 |
| 112 |        1 | 2012-03-30 00:00:00 |    1.6496e+06  |         67.61 |        3.845 | 221.361 |          7.348 | 151315 |
| 113 |        1 | 2012-04-06 00:00:00 |    1.89968e+06 |         70.43 |        3.891 | 221.436 |          7.143 | 151315 |
| 114 |        1 | 2012-04-13 00:00:00 |    1.62103e+06 |         69.07 |        3.891 | 221.51  |          7.143 | 151315 |
| 115 |        1 | 2012-04-20 00:00:00 |    1.52158e+06 |         66.76 |        3.877 | 221.564 |          7.143 | 151315 |
| 116 |        1 | 2012-04-27 00:00:00 |    1.46893e+06 |         67.23 |        3.814 | 221.618 |          7.143 | 151315 |
| 117 |        1 | 2012-05-04 00:00:00 |    1.68452e+06 |         75.55 |        3.749 | 221.672 |          7.143 | 151315 |
| 118 |        1 | 2012-05-11 00:00:00 |    1.6111e+06  |         73.77 |        3.688 | 221.726 |          7.143 | 151315 |
| 119 |        1 | 2012-05-18 00:00:00 |    1.5959e+06  |         70.33 |        3.63  | 221.743 |          7.143 | 151315 |
| 120 |        1 | 2012-05-25 00:00:00 |    1.55544e+06 |         77.22 |        3.561 | 221.745 |          7.143 | 151315 |
| 121 |        1 | 2012-06-01 00:00:00 |    1.62448e+06 |         77.95 |        3.501 | 221.747 |          7.143 | 151315 |
| 122 |        1 | 2012-06-08 00:00:00 |    1.69723e+06 |         78.3  |        3.452 | 221.749 |          7.143 | 151315 |
| 123 |        1 | 2012-06-15 00:00:00 |    1.63061e+06 |         79.35 |        3.393 | 221.763 |          7.143 | 151315 |
| 124 |        1 | 2012-06-22 00:00:00 |    1.52785e+06 |         78.39 |        3.346 | 221.803 |          7.143 | 151315 |
| 125 |        1 | 2012-06-29 00:00:00 |    1.54042e+06 |         84.88 |        3.286 | 221.843 |          7.143 | 151315 |
| 126 |        1 | 2012-07-06 00:00:00 |    1.76985e+06 |         81.57 |        3.227 | 221.884 |          6.908 | 151315 |
| 127 |        1 | 2012-07-13 00:00:00 |    1.52701e+06 |         77.12 |        3.256 | 221.924 |          6.908 | 151315 |
| 128 |        1 | 2012-07-20 00:00:00 |    1.49795e+06 |         80.42 |        3.311 | 221.933 |          6.908 | 151315 |
| 129 |        1 | 2012-07-27 00:00:00 |    1.43912e+06 |         82.66 |        3.407 | 221.941 |          6.908 | 151315 |
| 130 |        1 | 2012-08-03 00:00:00 |    1.63114e+06 |         86.11 |        3.417 | 221.95  |          6.908 | 151315 |
| 131 |        1 | 2012-08-10 00:00:00 |    1.59241e+06 |         85.05 |        3.494 | 221.958 |          6.908 | 151315 |
| 132 |        1 | 2012-08-17 00:00:00 |    1.59787e+06 |         84.85 |        3.571 | 222.038 |          6.908 | 151315 |
| 133 |        1 | 2012-08-24 00:00:00 |    1.49412e+06 |         77.66 |        3.62  | 222.172 |          6.908 | 151315 |
| 134 |        1 | 2012-08-31 00:00:00 |    1.58208e+06 |         80.49 |        3.638 | 222.305 |          6.908 | 151315 |
| 135 |        1 | 2012-09-07 00:00:00 |    1.66177e+06 |         83.96 |        3.73  | 222.439 |          6.908 | 151315 |
| 136 |        1 | 2012-09-14 00:00:00 |    1.51743e+06 |         74.97 |        3.717 | 222.582 |          6.908 | 151315 |
| 137 |        1 | 2012-09-21 00:00:00 |    1.50613e+06 |         69.87 |        3.721 | 222.782 |          6.908 | 151315 |
| 138 |        1 | 2012-09-28 00:00:00 |    1.43706e+06 |         76.08 |        3.666 | 222.982 |          6.908 | 151315 |
| 139 |        1 | 2012-10-05 00:00:00 |    1.67079e+06 |         68.55 |        3.617 | 223.181 |          6.573 | 151315 |
| 140 |        1 | 2012-10-12 00:00:00 |    1.57307e+06 |         62.99 |        3.601 | 223.381 |          6.573 | 151315 |
| 141 |        1 | 2012-10-19 00:00:00 |    1.50807e+06 |         67.97 |        3.594 | 223.426 |          6.573 | 151315 |
| 142 |        1 | 2012-10-26 00:00:00 |    1.49366e+06 |         69.16 |        3.506 | 223.444 |          6.573 | 151315 |

In [15]:
df.to_csv("../walmart_sales/sample_demand.csv", index=False)

## Getting Unique Region & DMZ

In [4]:
df = pd.read_csv("~/Documents/EY Internship/walmart_sales/demand_sql.csv")

In [17]:
df1 = df.groupby(["Region", "DMZ"]).size().reset_index().rename(columns={0: "count"})

In [20]:
df1 = df1.drop(["count"], axis=1)

In [22]:
df1.to_excel("~/Documents/EY Internship/walmart_sales/dmz.xlsx", index=False)

## Sum by Region

In [63]:
train_df = pd.read_csv("~/Documents/EY Internship/walmart_sales/demand_sql.csv")

In [64]:
train_df.head()

   Region  DMZ     Date  Weekly_Sales
0       1    1   5/2/10      24924.50
1       1    1  12/2/10      46039.49
2       1    1  19/2/10      41595.55
3       1    1  26/2/10      19403.54
4       1    1   5/3/10      21827.90

In [67]:
train_df["Date"]= pd.to_datetime(train_df["Date"], format="%d/%m/%y")

In [68]:
train_df

        Region   DMZ       Date  Weekly_Sales
0            1     1 2010-02-05      24924.50
1            1     1 2010-02-12      46039.49
2            1     1 2010-02-19      41595.55
3            1     1 2010-02-26      19403.54
4            1     1 2010-03-05      21827.90
...        ...   ...        ...           ...
117599      12  1182 2012-09-28        593.29
117600      12  1182 2012-10-05        491.87
117601      12  1182 2012-10-12        570.87
117602      12  1182 2012-10-19        384.34
117603      12  1182 2012-10-26        575.06

[117604 rows x 4 columns]

In [69]:
train_region = train_df.groupby(["Region", "Date"]).sum().drop(["DMZ"], axis=1).reset_index()
train_region.sort_values(by=["Region", "Date"])

      Region       Date  Weekly_Sales
0          1 2010-02-05    1643690.90
1          1 2010-02-12    1641957.44
2          1 2010-02-19    1611968.17
3          1 2010-02-26    1409727.59
4          1 2010-03-05    1554806.68
...      ...        ...           ...
1711      12 2012-09-28     880415.67
1712      12 2012-10-05     979825.92
1713      12 2012-10-12     934917.47
1714      12 2012-10-19     960945.43
1715      12 2012-10-26     974697.60

[1716 rows x 3 columns]

In [72]:
# train_region = train_df.groupby(["Region", "Date"]).sum().drop(["DMZ"], axis=1)
train_region["Date"]

0      2010-02-05
1      2010-02-12
2      2010-02-19
3      2010-02-26
4      2010-03-05
          ...
1711   2012-09-28
1712   2012-10-05
1713   2012-10-12
1714   2012-10-19
1715   2012-10-26
Name: Date, Length: 1716, dtype: datetime64[ns]

In [71]:
train_region.to_csv("~/Documents/EY Internship/walmart_sales/train_region_v2.csv", index=False)

## Train Test Split

In [5]:
df = pd.read_csv("~/Documents/EY Internship/walmart_sales/train_region_v2.csv")

Empty DataFrame
Columns: []
Index: []

In [28]:
train_df = pd.DataFrame()
test_df = pd.DataFrame()


for region in pd.unique(df["Region"]):
    temp = df.loc[df["Region"] == region, ]
    temp_train = temp.iloc[:-(int(0.2*len(temp))), :]
    temp_test = temp.iloc[-(int(0.2*len(temp))):, :]
    train_df = pd.concat([train_df, temp_train], axis = 0)
    test_df = pd.concat([test_df, temp_test], axis = 0)

In [32]:
# train_df[train_df["Region"] ==8]

In [35]:
train_df.to_csv("~/Documents/EY Internship/walmart_sales/train_payload1.csv", index=False)
test_df.to_csv("~/Documents/EY Internship/walmart_sales/test_payload1.csv", index=False)

## Test Dataset

In [8]:
test_df = pd.read_csv("~/Documents/EY Internship/walmart_sales/test.csv")
test_df.head()
test_df["Date"]= pd.to_datetime(test_df["Date"], format="%d/%m/%y")
test_df
test_region = test_df.groupby(["Region", "Date"]).sum().drop(["DMZ"], axis=1).reset_index()
test_region
# train_region.sort_values(by=["Region", "Date"])
# # train_region = train_df.groupby(["Region", "Date"]).sum().drop(["DMZ"], axis=1)
# train_region["Date"]
# train_region.to_csv("~/Documents/EY Internship/walmart_sales/train_region_v2.csv", index=False)

     Region       Date  IsHoliday  DMZ.1
0         1 2012-11-02          0   3182
1         1 2012-11-09          0   3182
2         1 2012-11-16          0   3137
3         1 2012-11-23         72   3236
4         1 2012-11-30          0   3281
..      ...        ...        ...    ...
463      12 2013-06-28          0   2938
464      12 2013-07-05          0   2938
465      12 2013-07-12          0   2862
466      12 2013-07-19          0   2862
467      12 2013-07-26          0   2844

[468 rows x 4 columns]

In [10]:
test_region.to_csv("../walmart_sales/test_region1.csv", index=False)