In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from pulp import *

## Reading in Dataset

### Fixed Cost of each WTP

In [171]:
fixed_cost = pd.read_excel("../dataset2/fixed_cost.xlsx", index_col=0)
fixed_cost.head()

                   Fixed Cost
WTP
Ampang Intake           11638
Batang Kali             11011
Bernam River Head       11602
WTP1                     4899
WTP2                    11773

### Capacity of each WTP

In [172]:
capacity = pd.read_excel("../dataset2/capacity.xlsx", index_col=0)
capacity.head()

                       Capacity
WTP
Ampang Intake      2.641160e+07
Batang Kali        2.858907e+07
Bernam River Head  2.993616e+07
WTP1               2.728402e+07
WTP2               2.898516e+07

In [173]:
capacity.loc["WTP1", "Capacity"]

27284019.78365

### Distribution Loss

In [174]:
distribution_loss = pd.read_excel("../dataset2/distribution_loss.xlsx", index_col=0)
distribution_loss.head()

,Ampang Intake,Batang Kali,Bernam River Head,WTP1,WTP2,WTP3,WTP4,WTP5,WTP6,WTP7,...,WTP33,WTP34,WTP35,WTP36,WTP37,WTP38,WTP39,WTP40,Wangsa Maju,Sungai Tengi
DMZ001,0.31838,0.34819,0.23241,0.26049,0.34462,0.28837,0.30351,0.28379,0.33333,0.30272,...,0.29068,0.28830,0.29829,0.35956,0.26697,0.30082,0.27045,0.28345,0.27237,0.33081
DMZ002,0.30544,0.32145,0.29041,0.26520,0.30354,0.25078,0.31171,0.26908,0.24993,0.34083,...,0.31445,0.24484,0.35810,0.34966,0.31344,0.25027,0.29574,0.27309,0.32620,0.30501
DMZ003,0.32782,0.29775,0.30906,0.33927,0.31701,0.29337,0.26027,0.31059,0.30448,0.32909,...,0.24614,0.32459,0.23055,0.31726,0.31519,0.31940,0.29601,0.28883,0.33544,0.26115
DMZ004,0.35452,0.28941,0.25286,0.30884,0.32873,0.27913,0.26008,0.33860,0.32277,0.28385,...,0.32659,0.26638,0.28412,0.34979,0.26636,0.28850,0.28361,0.29359,0.25466,0.26176
DMZ005,0.28498,0.28067,0.29266,0.32907,0.29612,0.33973,0.24868,0.34067,0.25028,0.28086,...,0.31274,0.31326,0.29827,0.27726,0.29009,0.23659,0.27612,0.35060,0.32065,0.27252

In [175]:
distribution_loss.loc["DMZ001", "WTP1"]

0.26049

### Links between WTP and DMZ

In [176]:
linkage = pd.read_excel("../dataset2/linkage2.xlsx", index_col=0)
linkage.head()

,Ampang Intake,Batang Kali,Bernam River Head,WTP1,WTP2,WTP3,WTP4,WTP5,WTP6,WTP7,...,WTP33,WTP34,WTP35,WTP36,WTP37,WTP38,WTP39,WTP40,Wangsa Maju,Sungai Tengi
DMZ001,1,1,1,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
DMZ002,1,1,1,1,0,1,1,1,1,1,...,1,0,1,1,1,0,1,1,0,0
DMZ003,1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,1,1,1,1,0,1
DMZ004,1,1,1,1,1,1,1,1,1,1,...,1,1,0,0,1,1,1,1,0,1
DMZ005,1,1,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,0

### Variable Cost for each combination of (DMZ, WTP)

In [177]:
variable_cost = pd.read_excel("../dataset2/variable_costs.xlsx", index_col=0)
variable_cost.head()

,Ampang Intake,Batang Kali,Bernam River Head,WTP1,WTP2,WTP3,WTP4,WTP5,WTP6,WTP7,...,WTP33,WTP34,WTP35,WTP36,WTP37,WTP38,WTP39,WTP40,Wangsa Maju,Sungai Tengi
DMZ001,9,14,9,12,24,13,21,20,8,10,...,21,23,11,9,17,7,19,18,5,22
DMZ002,12,15,23,11,18,23,17,7,7,22,...,9,9,10,23,13,18,9,15,9,11
DMZ003,5,20,19,8,9,17,7,12,18,9,...,21,21,19,15,15,5,6,16,11,21
DMZ004,22,14,15,6,12,8,9,19,17,11,...,15,9,9,24,20,8,19,13,15,5
DMZ005,22,10,7,21,22,12,21,20,9,18,...,8,14,18,23,20,14,7,5,6,5

### Transport Cost for each combination of (DMZ, WTP)

In [178]:
# transport_cost = pd.read_excel("../dataset/freight_costs.xlsx", index_col=0)
# transport_cost.head()

### Demand for each DMZ

In [179]:
demand = pd.read_excel("../dataset2/demand_chisq.xlsx", index_col=0)
demand.head()

              Demand
DMZ001  160044.62961
DMZ002  150056.74766
DMZ003  141891.56807
DMZ004  194644.00762
DMZ005  126901.55527

In [180]:
demand = demand.iloc[:100,:]

In [182]:
demand.loc["DMZ001", "Demand"]

160044.62961

In [144]:
# demand["Demand"] = pd.to_numeric(demand["Demand"], downcast="float")
# demand.head()

## Optimisation

In [183]:
# List of all the WTPs
wtp = list(capacity.index)

# List of all the DMZs
dmz = list(demand.index)

# List of (DMZ, WTP) pairs
dmz_wtp_pairs = [(d, w) for d in dmz for w in wtp]

In [184]:
print(wtp[:5])
print("Number of WTP:", len(wtp) )

print(dmz[:5])
print("Number of DMZ:", len(dmz) )

print("Number of DMZ-WTP Pairs:", len(dmz_wtp_pairs))

['Ampang Intake', 'Batang Kali', 'Bernam River Head', 'WTP1', 'WTP2']
Number of WTP: 45
['DMZ001', 'DMZ002', 'DMZ003', 'DMZ004', 'DMZ005']
Number of DMZ: 100
Number of DMZ-WTP Pairs: 4500

In [185]:
demand.loc[dmz[0], "Demand"]

160044.62961

In [186]:
# Creating the Linear Optimisation Class
model = LpProblem("Optimising water supply", LpMinimize)

/Users/daniel/opt/anaconda3/envs/walmart2/lib/python3.8/site-packages/pulp/pulp.py:1352: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

In [187]:
# Creating Decision Variables
output = LpVariable.dicts("Volume", dmz_wtp_pairs, lowBound=0, upBound=None, cat='continuous')

In [188]:
# fixed_cost.loc[wtp[0], "Fixed Cost"]

In [189]:
output[("DMZ001", "WTP1")]

Volume_('DMZ001',_'WTP1')

In [190]:
# Define the Objective Function

## Without transport cost
model += \
     lpSum([fixed_cost.loc[w, "Fixed Cost"] * 1000 for w in wtp]) + \
     lpSum([(variable_cost.loc[d, w]) * output[(d, w)] for d in dmz for w in wtp])


## With transport cost
# model += \
#      lpSum([fixed_cost.loc[w, "Fixed Cost"] * 1000 for w in wtp]) + \
#      lpSum([(variable_cost.loc[d, w] + transport_cost.loc[d, w]) * output[(d, w)] for d in dmz for w in wtp])

In [153]:
curr_dmz=dmz[1]
curr_wtp=wtp[0]

In [154]:
linkage.loc[curr_dmz, curr_wtp]

1

In [155]:
1- distribution_loss.loc[curr_dmz, curr_wtp]

0.6945600000000001

In [156]:
output[(curr_dmz, curr_wtp)] * (1- distribution_loss.loc[curr_dmz, curr_wtp]) * (linkage.loc[curr_dmz, curr_wtp])

0.6945600000000001*Volume_('DMZ002',_'Ampang_Intake') + 0.0

In [157]:
# type(demand.loc["DMZ1", "Demand"])
# type(1-distribution_loss.loc["DMZ1", wtp[0]])

In [158]:
capacity.loc["Ampang Intake", "Capacity"]

26411595.83813

In [159]:
distribution_loss.loc["DMZ001", "Ampang Intake"]

0.31838

In [160]:
## Meet demand for each DMZ
for d in dmz:
    for w in wtp:
        # No linkage constraint
        if linkage.loc[d, w] == 0 :
            model += output[(d,w)] == 0
    
    model += LpConstraint(
        lpSum([ (output[(d, w)] * (1-distribution_loss.loc[d, w])) for w in wtp]),
        sense=LpConstraintGE,
        rhs= demand.loc[d, "Demand"],
        name=d
        )

In [191]:
# # Adding Constraints

## Meet demand for each DMZ
for d in dmz:
    model += lpSum([ (output[(d, w)] * (1-distribution_loss.loc[d, w]) * (linkage.loc[d, w])) for w in wtp]) >= demand.loc[d, "Demand"]

## Within the WTP capacity
for w in wtp:
    model += lpSum([output[(d, w)] for d in dmz]) <= capacity.loc[w, "Capacity"]

## No linkage constraint





# Adding Constraints


# ## Within the WTP capacity
# for w in wtp:
#     model += LpConstraint(
#         lpSum([output[(d, w)] for d in dmz]),
#         sense = LpConstraintLE,
#         rhs = capacity.loc[w, "Capacity"]*1000,
#         name = w.replace(" ", "")
#         )

In [162]:
# # Solve the model
# solver = CPLEX_PY()
# solver.buildSolverModel(model)

# #Modify the solvermodel
# solver.solverModel.parameters.timelimit.set(1200)

# #Solve P
# solver.callSolver(model)
# status = solver.findSolutionValues(model)

In [192]:
# # Solve the model
# model.solve(PULP_CBC_CMD(maxSeconds=1000, msg=1, fracGap=0))

In [193]:
# Solve the model
model.solve()

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/daniel/opt/anaconda3/envs/walmart2/lib/python3.8/site-packages/pulp/apis/../solverdir/cbc/osx/64/cbc /var/folders/gp/1_dqbwsn08sbtf7s0k5q2lsc0000gn/T/30168064b41c462a8e6fd23e35a8dd55-pulp.mps timeMode elapsed branch printingOptions all solution /var/folders/gp/1_dqbwsn08sbtf7s0k5q2lsc0000gn/T/30168064b41c462a8e6fd23e35a8dd55-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 150 COLUMNS
At line 13210 RHS
At line 13356 BOUNDS
At line 13357 ENDATA
Problem MODEL has 145 rows, 4500 columns and 8559 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Presolve 145 (0) rows, 4059 (-441) columns and 8118 (-441) elements
Perturbing problem by 0.001% of 24 - largest nonzero change 0.00018123674 ( 0.0017365807%) - largest zero change 0
0  Obj 0 Primal inf 16341176 (100)
77  Obj 94182998 Primal inf 3148916.8 (23)
100  Obj 1.164256e+08
Optimal - objective value 1.1642406e+08
After Postsolve, objective 1.1642406e+08, infeasibilities - dual 0 (0), primal 0 (0)
Optimal objective 116424062.7 - 100 iterations time 0.002, Presolve 0.00
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.01   (Wallclock seconds):       0.02

1

In [194]:
print("Total Costs = {:,} ($/Month)".format(int(value(model.objective))))
print('\n' + "Status: {}".format(LpStatus[model.status]))

Total Costs = 505,356,062 ($/Month)

Status: Optimal

In [195]:
soln_dict = {i.name: i.varValue for i in model.variables()}

In [196]:
not_satisfied = []

for c in model.constraints.values():
    c_dict = c.toDict()
    # print(c_dict)

    satisfied = False
    
    LHS = sum([soln_dict[i['name']]*i['value'] for i in c_dict['coefficients']])
    LHS = LHS + c_dict['constant']
    
    if c_dict['sense'] == 0:
        satisfied = (LHS == 0)
   
    if c_dict['sense'] == -1:
        satisfied = (LHS <= 0)
    
    if c_dict['sense'] == 1:
        satisfied = (LHS >= 0)
   
    # print(c)
    
    if satisfied:
        #print('LHS: ', LHS)
        print('is satisfied')
    else:
        #print('LHS: ', LHS)
        print(c_dict["name"],'not satisfied', "LHS:", LHS)
        not_satisfied.append(c_dict["name"])

None not satisfied LHS: -0.0026547000161372125
None not satisfied LHS: -0.0021680000063497573
is satisfied
None not satisfied LHS: -0.003575199982151389
None not satisfied LHS: -0.002482999989297241
is satisfied
None not satisfied LHS: -0.0008851999882608652
None not satisfied LHS: -0.001965200004633516
None not satisfied LHS: -0.0033360000234097242
is satisfied
None not satisfied LHS: -0.001102800015360117
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0021776000212412328
None not satisfied LHS: -0.0014420000370591879
None not satisfied LHS: -0.003125200018985197
is satisfied
is satisfied
None not satisfied LHS: -0.00326250001671724
is satisfied
is satisfied
None not satisfied LHS: -0.0022785999753978103
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0013524999958463013
None not satisfied LHS: -0.0002556999970693141
is satisfied
None not satisfied LHS: -0.0010919999913312495
is satisfied
None not satisfied LHS: -0.0005463999987114221
is satisfied
None not satisfied LHS: -5.600013537332416e-06
None not satisfied LHS: -0.0016530000139027834
None not satisfied LHS: -0.0006232000014279038
is satisfied
None not satisfied LHS: -0.00021199998445808887
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.00017919999663718045
is satisfied
None not satisfied LHS: -0.001007299986667931
None not satisfied LHS: -0.0019161999807693064
None not satisfied LHS: -0.002282300003571436
None not satisfied LHS: -0.0021481000003404915
is satisfied
None not satisfied LHS: -0.0016032000130508095
is satisfied
None not satisfied LHS: -0.0009170000266749412
None not satisfied LHS: -0.0020095999934710562
is satisfied
None not satisfied LHS: -0.00208459998248145
None not satisfied LHS: -0.0008396999910473824
is satisfied
is satisfied
None not satisfied LHS: -0.0004090000002179295
is satisfied
None not satisfied LHS: -0.002796799992211163
is satisfied
None not satisfied LHS: -0.0009743999980855733
None not satisfied LHS: -0.0018959999724756926
is satisfied
None not satisfied LHS: -0.003088799974648282
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -2.0799983758479357e-05
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0020314000139478594
None not satisfied LHS: -0.0001396999869029969
None not satisfied LHS: -0.00048400001833215356
is satisfied
None not satisfied LHS: -0.0007291999936569482
None not satisfied LHS: -0.0020511999900918454
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0009452000085730106
None not satisfied LHS: -0.0023204999743029475
is satisfied
is satisfied
None not satisfied LHS: -0.0028446999785955995
None not satisfied LHS: -0.0019026999943889678
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.002859200001694262
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.00171720000798814
None not satisfied LHS: -0.001121999986935407
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied

In [197]:
"DMZ001" in not_satisfied

False

In [198]:
"DMZ107" in not_satisfied

False

In [199]:
len(not_satisfied)

49

## Results

In [200]:
dict_wtp = {}
dict_dmz = {}

In [201]:
# df = pd.DataFrame(0, index=dmz, columns = wtp)
# df

df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [202]:
# Getting the results
for v in model.variables():
    # print(v.name, v.varValue)
    name = v.name.replace("Volume_", "").replace("_", "")
    # print(name)

    combi = eval(name)
    # print(combi[0])

    curr_dmz = combi[0]
    curr_wtp = combi[1]
    volume = v.varValue

    # print("DMZ: ", dmz, " ", "WTP: ", wtp, " ", "Value: ", volume)

    df.loc[curr_dmz, curr_wtp] = volume

In [203]:
# Supply of water from each WTP to each DMZ (including distribution loss)
df

,AmpangIntake,BatangKali,BernamRiverHead,SungaiTengi,WTP1,WTP10,WTP11,WTP12,WTP13,WTP14,...,WTP38,WTP39,WTP4,WTP40,WTP5,WTP6,WTP7,WTP8,WTP9,WangsaMaju
DMZ001,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,219953.31
DMZ002,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
DMZ003,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,...,208480.12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
DMZ004,0.0,0.0,0.0,263659.52,0.0,0.0,0.0,0.0,0.0,0.00,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
DMZ005,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DMZ096,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,212984.72,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
DMZ097,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
DMZ098,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
DMZ099,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
DMZ100,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,...,0.00,0.0,0.0,0.0,0.0,249168.2,0.0,0.0,0.0,0.00

In [204]:
# df.columns = ["Ampang Intake", "Batang Kali", "Bername River Head", "Sungai Tengi", "Wangsa Maju"]
# df = df[["Ampang Intake", "Batang Kali", "Bername River Head", "Wangsa Maju", "Sungai Tengi", ]]

In [205]:
# Supply of water from each WTP to each DMZ (including distribution loss)
# df

### Renaming the columns for distribution loss to match result df

In [206]:
col_list = df.columns.tolist()
print(col_list[:5])

temp_col_list = distribution_loss.columns.tolist()
dist_col_list = [w.replace(" ", "") for w in temp_col_list]

print(dist_col_list[:5])

['AmpangIntake', 'BatangKali', 'BernamRiverHead', 'SungaiTengi', 'WTP1']
['AmpangIntake', 'BatangKali', 'BernamRiverHead', 'WTP1', 'WTP2']

In [211]:
result_distribution_loss = distribution_loss.iloc[:100, :].copy()
result_distribution_loss.columns = dist_col_list

In [212]:
result_distribution_loss = result_distribution_loss[col_list]

### Accounting for distribution loss

In [213]:
useful_amount = 1- result_distribution_loss.values

In [214]:
temp = df.values * useful_amount
temp

array([[     0.       ,      0.       ,      0.       , ...,
             0.       ,      0.       , 160044.6269553],
       [     0.       ,      0.       ,      0.       , ...,
             0.       ,      0.       ,      0.       ],
       [     0.       ,      0.       ,      0.       , ...,
             0.       ,      0.       ,      0.       ],
       ...,
       [     0.       ,      0.       ,      0.       , ...,
             0.       ,      0.       ,      0.       ],
       [     0.       ,      0.       ,      0.       , ...,
             0.       ,      0.       ,      0.       ],
       [     0.       ,      0.       ,      0.       , ...,
             0.       ,      0.       ,      0.       ]])

In [215]:
temp.shape

(100, 45)

In [216]:
# Supply of water from each WTP to each DMZ, after accounting for water loss
final_df = pd.DataFrame(temp, columns = wtp, index=dmz)
final_df.round(3)

,Ampang Intake,Batang Kali,Bernam River Head,WTP1,WTP2,WTP3,WTP4,WTP5,WTP6,WTP7,...,WTP33,WTP34,WTP35,WTP36,WTP37,WTP38,WTP39,WTP40,Wangsa Maju,Sungai Tengi
DMZ001,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.000,...,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,160044.627
DMZ002,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.000,...,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000
DMZ003,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.000,...,141891.57,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000
DMZ004,0.0,0.0,0.0,194644.004,0.0,0.0,0.0,0.0,0.0,0.000,...,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000
DMZ005,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.000,...,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DMZ096,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,154256.313,...,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000
DMZ097,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.000,...,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000
DMZ098,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.000,...,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000
DMZ099,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.000,...,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000
DMZ100,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.000,...,0.00,0.0,0.0,0.0,0.0,177721.71,0.0,0.0,0.0,0.000

In [217]:
# wtp

In [218]:
supply = final_df.sum(axis=1)
supply[:5]

DMZ001    160044.626955
DMZ002    150056.745492
DMZ003    141891.569672
DMZ004    194644.004045
DMZ005    126901.552787
dtype: float64

In [219]:
sum(final_df.loc["DMZ001",:])

160044.6269553

In [220]:
demand.loc["DMZ001", "Demand"]

160044.62961

In [227]:
prob = []
for curr_dmz in dmz:
    # print(supply[curr_dmz], ">=", demand.loc[curr_dmz, "Demand"], "?")
    # print(supply[curr_dmz] >= demand.loc[curr_dmz, "Demand"])
    a = supply[curr_dmz]
    b = demand.loc[curr_dmz, "Demand"]
    if not (np.isclose(a, b, rtol=1e-05, atol=1e-08, equal_nan=False)) and a <= b:
        print(curr_dmz, supply[curr_dmz], ">=", demand.loc[curr_dmz, "Demand"], "?")
        prob.append(curr_dmz)
    # elif (np.isclose(a, b, rtol=1e-05, atol=1e-08, equal_nan=False)):
    #     print(True)
    # else: 
    #     print(supply[curr_dmz], ">=", demand.loc[curr_dmz, "Demand"], "?")
    #     print(supply[curr_dmz] >= demand.loc[curr_dmz, "Demand"])

In [224]:
len(prob)

0

In [230]:
check_capacity = final_df.sum(axis=0)

In [235]:
prob_wtp = []
for curr_wtp in wtp:
    # print(curr_dmz, check_capacity[curr_wtp], "<=", capacity.loc[curr_wtp, "Capacity"], "?")
    # print(check_capacity[curr_wtp] <= capacity.loc[curr_wtp, "Capacity"])
    a = check_capacity[curr_wtp]
    b = capacity.loc[curr_wtp, "Capacity"]
    if not (np.isclose(a, b, rtol=1e-05, atol=1e-08, equal_nan=False)) and a >= b:
        print(curr_dmz, check_capacity[curr_wtp], "<=", capacity.loc[curr_wtp, "Capacity"], "?")
        prob_wtp.append(curr_wtp)
    # elif (np.isclose(a, b, rtol=1e-05, atol=1e-08, equal_nan=False)):
    #     print(True)
    # else: 
    #     # print(curr_dmz, check_capacity[curr_wtp], "<=", capacity.loc[curr_wtp, "Capacity"], "?")
    #     print(check_capacity[curr_wtp] <= capacity.loc[curr_wtp, "Capacity"])

In [234]:
len(prob_wtp)

0

In [236]:
df.head()

,AmpangIntake,BatangKali,BernamRiverHead,SungaiTengi,WTP1,WTP10,WTP11,WTP12,WTP13,WTP14,...,WTP38,WTP39,WTP4,WTP40,WTP5,WTP6,WTP7,WTP8,WTP9,WangsaMaju
DMZ001,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,219953.31
DMZ002,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
DMZ003,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,208480.12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
DMZ004,0.0,0.0,0.0,263659.52,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
DMZ005,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00

In [237]:
final_df.head()

,Ampang Intake,Batang Kali,Bernam River Head,WTP1,WTP2,WTP3,WTP4,WTP5,WTP6,WTP7,...,WTP33,WTP34,WTP35,WTP36,WTP37,WTP38,WTP39,WTP40,Wangsa Maju,Sungai Tengi
DMZ001,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,160044.626955
DMZ002,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
DMZ003,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,141891.569672,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
DMZ004,0.0,0.0,0.0,194644.004045,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
DMZ005,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [238]:
# Export results

df.to_excel("../dataset2/result_without_loss.xlsx", index=True)
final_df.to_excel("../dataset2/result.xlsx", index=True)

In [132]:
demand.loc["DMZ005", "Demand"]

126901.55527