In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from pulp import *

C:\Users\XA155XB\Anaconda3\envs\walmart2\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\XA155XB\Anaconda3\envs\walmart2\lib\site-packages\numpy\.libs\libopenblas.QVLO2T66WEPI7JZ63PS3HMOHFEY472BC.gfortran-win_amd64.dll
C:\Users\XA155XB\Anaconda3\envs\walmart2\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  stacklevel=1)

## Reading in Dataset

### Fixed Cost of each WTP

In [2]:
fixed_cost = pd.read_excel("../dataset2/fixed_cost.xlsx", index_col=0)
fixed_cost.head()

                   Fixed Cost
WTP
Ampang Intake           11638
Batang Kali             11011
Bernam River Head       11602
WTP1                     4899
WTP2                    11773

### Capacity of each WTP

In [3]:
capacity = pd.read_excel("../dataset2/capacity.xlsx", index_col=0)
capacity.head()

                       Capacity
WTP
Ampang Intake      2.641160e+07
Batang Kali        2.858907e+07
Bernam River Head  2.993616e+07
WTP1               2.728402e+07
WTP2               2.898516e+07

In [4]:
capacity.loc["WTP1", "Capacity"]

27284019.78365

### Distribution Loss

In [5]:
distribution_loss = pd.read_excel("../dataset2/distribution_loss.xlsx", index_col=0)
distribution_loss.head()

,Ampang Intake,Batang Kali,Bernam River Head,WTP1,WTP2,WTP3,WTP4,WTP5,WTP6,WTP7,...,WTP33,WTP34,WTP35,WTP36,WTP37,WTP38,WTP39,WTP40,Wangsa Maju,Sungai Tengi
DMZ001,0.31838,0.34819,0.23241,0.26049,0.34462,0.28837,0.30351,0.28379,0.33333,0.30272,...,0.29068,0.28830,0.29829,0.35956,0.26697,0.30082,0.27045,0.28345,0.27237,0.33081
DMZ002,0.30544,0.32145,0.29041,0.26520,0.30354,0.25078,0.31171,0.26908,0.24993,0.34083,...,0.31445,0.24484,0.35810,0.34966,0.31344,0.25027,0.29574,0.27309,0.32620,0.30501
DMZ003,0.32782,0.29775,0.30906,0.33927,0.31701,0.29337,0.26027,0.31059,0.30448,0.32909,...,0.24614,0.32459,0.23055,0.31726,0.31519,0.31940,0.29601,0.28883,0.33544,0.26115
DMZ004,0.35452,0.28941,0.25286,0.30884,0.32873,0.27913,0.26008,0.33860,0.32277,0.28385,...,0.32659,0.26638,0.28412,0.34979,0.26636,0.28850,0.28361,0.29359,0.25466,0.26176
DMZ005,0.28498,0.28067,0.29266,0.32907,0.29612,0.33973,0.24868,0.34067,0.25028,0.28086,...,0.31274,0.31326,0.29827,0.27726,0.29009,0.23659,0.27612,0.35060,0.32065,0.27252

In [6]:
distribution_loss.loc["DMZ001", "WTP1"]

0.26049

### Links between WTP and DMZ

In [7]:
linkage = pd.read_excel("../dataset2/linkage2.xlsx", index_col=0)
linkage.head()

,Ampang Intake,Batang Kali,Bernam River Head,WTP1,WTP2,WTP3,WTP4,WTP5,WTP6,WTP7,...,WTP33,WTP34,WTP35,WTP36,WTP37,WTP38,WTP39,WTP40,Wangsa Maju,Sungai Tengi
DMZ001,1,1,1,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
DMZ002,1,1,1,1,0,1,1,1,1,1,...,1,0,1,1,1,0,1,1,0,0
DMZ003,1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,1,1,1,1,0,1
DMZ004,1,1,1,1,1,1,1,1,1,1,...,1,1,0,0,1,1,1,1,0,1
DMZ005,1,1,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,0

### Variable Cost for each combination of (DMZ, WTP)

In [8]:
variable_cost = pd.read_excel("../dataset2/variable_costs.xlsx", index_col=0)
variable_cost.head()

,Ampang Intake,Batang Kali,Bernam River Head,WTP1,WTP2,WTP3,WTP4,WTP5,WTP6,WTP7,...,WTP33,WTP34,WTP35,WTP36,WTP37,WTP38,WTP39,WTP40,Wangsa Maju,Sungai Tengi
DMZ001,9,14,9,12,24,13,21,20,8,10,...,21,23,11,9,17,7,19,18,5,22
DMZ002,12,15,23,11,18,23,17,7,7,22,...,9,9,10,23,13,18,9,15,9,11
DMZ003,5,20,19,8,9,17,7,12,18,9,...,21,21,19,15,15,5,6,16,11,21
DMZ004,22,14,15,6,12,8,9,19,17,11,...,15,9,9,24,20,8,19,13,15,5
DMZ005,22,10,7,21,22,12,21,20,9,18,...,8,14,18,23,20,14,7,5,6,5

### Transport Cost for each combination of (DMZ, WTP)

In [9]:
# transport_cost = pd.read_excel("../dataset/freight_costs.xlsx", index_col=0)
# transport_cost.head()

### Demand for each DMZ

In [251]:
CUT_OFF = 999

In [252]:
demand = pd.read_excel("../dataset2/demand_chisq.xlsx", index_col=0)
demand.head()

              Demand
DMZ001  160044.62961
DMZ002  150056.74766
DMZ003  141891.56807
DMZ004  194644.00762
DMZ005  126901.55527

In [253]:
demand = demand.iloc[:CUT_OFF,:]

In [254]:
demand.loc["DMZ001", "Demand"]

160044.62961

In [255]:
# demand["Demand"] = pd.to_numeric(demand["Demand"], downcast="float")
# demand.head()

### Creating Adjacency List

In [256]:
# List of all the WTPs
wtp = list(capacity.index)

# List of all the DMZs
dmz = list(demand.index)

In [257]:
# Creating adjacency list of connected WTP and DMZ

adj_ls = {d: [] for d in dmz}

for key in adj_ls.keys():
    ls = list(zip(linkage.columns, linkage.loc[key].tolist()))
    ls = list(filter(lambda link: link[1] == 1, ls))
    ls = list(map(lambda x: x[0], ls))
    adj_ls[key] = ls

In [258]:
wtp_adj_ls = {w: [] for w in wtp}

for key in wtp_adj_ls:
    ls = list(zip(linkage.index, linkage.loc[:, key].iloc[:CUT_OFF].tolist()))
    ls = list(filter(lambda link: link[1] == 1, ls))
    ls = list(map(lambda x: x[0], ls))
    wtp_adj_ls[key] = ls

## Optimisation

In [259]:
# List of all the WTPs
wtp = list(capacity.index)

# List of all the DMZs
dmz = list(demand.index)

# List of (DMZ, WTP) pairs
# dmz_wtp_pairs = [(d, w) for d in dmz for w in wtp]
dmz_wtp_pairs = []
for key, value in adj_ls.items():
    dmz_wtp_pairs.extend(list(map(lambda x: (key, x), value)))

In [260]:
# Check dmz-wtp pairs
for d, w in dmz_wtp_pairs:
    if (linkage.loc[d, w] != 1):
        print("Error:", d, w)

In [261]:
print(wtp[:5])
print("Number of WTP:", len(wtp) )

print(dmz[:5])
print("Number of DMZ:", len(dmz) )

print("Number of DMZ-WTP Pairs:", len(dmz_wtp_pairs))

['Ampang Intake', 'Batang Kali', 'Bernam River Head', 'WTP1', 'WTP2']
Number of WTP: 45
['DMZ001', 'DMZ002', 'DMZ003', 'DMZ004', 'DMZ005']
Number of DMZ: 999
Number of DMZ-WTP Pairs: 40415

In [262]:
demand.loc[dmz[0], "Demand"]

160044.62961

In [263]:
# Creating the Linear Optimisation Class
model = LpProblem("Optimising water supply", LpMinimize)

C:\Users\XA155XB\Anaconda3\envs\walmart2\lib\site-packages\pulp\pulp.py:1352: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

In [264]:
# Creating Decision Variables
output = LpVariable.dicts("Volume", dmz_wtp_pairs, lowBound=0, upBound=None, cat='continuous')

In [265]:
# fixed_cost.loc[wtp[0], "Fixed Cost"]

In [266]:
output[("DMZ001", "WTP1")]

Volume_('DMZ001',_'WTP1')

In [267]:
# Define the Objective Function

## For adj list Without transport cost
model += \
     lpSum([fixed_cost.loc[w, "Fixed Cost"] * 1000 for w in wtp]) + \
     lpSum([(variable_cost.loc[d, w]) * output[(d, w)] for d, w in dmz_wtp_pairs])


## Without transport cost
# model += \
#      lpSum([fixed_cost.loc[w, "Fixed Cost"] * 1000 for w in wtp]) + \
#      lpSum([(variable_cost.loc[d, w]) * output[(d, w)] for d in dmz for w in wtp])


## With transport cost
# model += \
#      lpSum([fixed_cost.loc[w, "Fixed Cost"] * 1000 for w in wtp]) + \
#      lpSum([(variable_cost.loc[d, w] + transport_cost.loc[d, w]) * output[(d, w)] for d in dmz for w in wtp])

In [268]:
curr_dmz=dmz[1]
curr_wtp=wtp[0]

In [269]:
linkage.loc[curr_dmz, curr_wtp]

1

In [270]:
1- distribution_loss.loc[curr_dmz, curr_wtp]

0.6945600000000001

In [271]:
output[(curr_dmz, curr_wtp)] * (1- distribution_loss.loc[curr_dmz, curr_wtp]) * (linkage.loc[curr_dmz, curr_wtp])

0.6945600000000001*Volume_('DMZ002',_'Ampang_Intake') + 0.0

In [272]:
# type(demand.loc["DMZ1", "Demand"])
# type(1-distribution_loss.loc["DMZ1", wtp[0]])

In [273]:
capacity.loc["Ampang Intake", "Capacity"]

26411595.83813

In [274]:
distribution_loss.loc["DMZ001", "Ampang Intake"]

0.31838

In [275]:
# ## Meet demand for each DMZ
# for d in dmz:
#     for w in wtp:
#         # No linkage constraint
#         if linkage.loc[d, w] == 0 :
#             model += output[(d,w)] == 0
    
#     model += LpConstraint(
#         lpSum([ (output[(d, w)] * (1-distribution_loss.loc[d, w])) for w in wtp]),
#         sense=LpConstraintGE,
#         rhs= demand.loc[d, "Demand"],
#         name=d
#         )

In [276]:
# # Adding Constraints

#### For Adj List
## Meet demand for each DMZ
for d in dmz:
    model += lpSum([ (output[(d, w)] * (1-distribution_loss.loc[d, w]) * (linkage.loc[d, w])) for w in adj_ls.get(d)]) >= demand.loc[d, "Demand"]

## Within the WTP capacity
for w in wtp:
    model += lpSum([output[(d, w)] for d in wtp_adj_ls.get(w)]) <= capacity.loc[w, "Capacity"]




## Meet demand for each DMZ
# for d in dmz:
#     model += lpSum([ (output[(d, w)] * (1-distribution_loss.loc[d, w]) * (linkage.loc[d, w])) for w in wtp]) >= demand.loc[d, "Demand"]

# ## Within the WTP capacity
# for w in wtp:
#     model += lpSum([output[(d, w)] for d in dmz]) <= capacity.loc[w, "Capacity"]

## No linkage constraint





# Adding Constraints


# ## Within the WTP capacity
# for w in wtp:
#     model += LpConstraint(
#         lpSum([output[(d, w)] for d in dmz]),
#         sense = LpConstraintLE,
#         rhs = capacity.loc[w, "Capacity"]*1000,
#         name = w.replace(" ", "")
#         )

In [277]:
# # Solve the model
# solver = CPLEX_PY()
# solver.buildSolverModel(model)

# #Modify the solvermodel
# solver.solverModel.parameters.timelimit.set(1200)

# #Solve P
# solver.callSolver(model)
# status = solver.findSolutionValues(model)

In [278]:
# # Solve the model
# model.solve(PULP_CBC_CMD(maxSeconds=1000, msg=1, fracGap=0))

In [279]:
# Solve the model
model.solve()

1

In [280]:
# print("Total Costs = {:,} ($/Month)".format(int(value(model.objective))))

print("Total Costs = {:,.2f} ($/Month)".format(model.objective.value()))
print('\n' + "Status: {}".format(LpStatus[model.status]))

Total Costs = 1,561,463,737.75 ($/Month)

Status: Optimal

In [111]:
soln_dict = {i.name: i.varValue for i in model.variables()}

In [112]:
not_satisfied = []

for c in model.constraints.values():
    c_dict = c.toDict()
    # print(c_dict)

    satisfied = False
    
    LHS = sum([soln_dict[i['name']]*i['value'] for i in c_dict['coefficients']])
    LHS = LHS + c_dict['constant']
    
    if c_dict['sense'] == 0:
        satisfied = (LHS == 0)
   
    if c_dict['sense'] == -1:
        satisfied = (LHS <= 0)
    
    if c_dict['sense'] == 1:
        satisfied = (LHS >= 0)
   
    # print(c)
    
    if satisfied:
        #print('LHS: ', LHS)
        print('is satisfied')
    else:
        #print('LHS: ', LHS)
        print(c_dict["name"],'not satisfied', "LHS:", LHS)
        not_satisfied.append(c_dict["name"])

None not satisfied LHS: -0.0026547000161372125
None not satisfied LHS: -0.0021680000063497573
is satisfied
None not satisfied LHS: -0.003575199982151389
None not satisfied LHS: -0.002482999989297241
is satisfied
None not satisfied LHS: -0.0008851999882608652
None not satisfied LHS: -0.001965200004633516
None not satisfied LHS: -0.0033360000234097242
is satisfied
None not satisfied LHS: -0.001102800015360117
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0021776000212412328
None not satisfied LHS: -0.0014420000370591879
None not satisfied LHS: -0.003125200018985197
is satisfied
is satisfied
None not satisfied LHS: -0.00326250001671724
is satisfied
is satisfied
None not satisfied LHS: -0.0022785999753978103
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0013524999958463013
None not satisfied LHS: -0.0002556999970693141
is satisfied
None not satisfied LHS: -0.0010919999913312495
is satisfied
None not satisfied LHS: -0.0005463999987114221
is satisfied
None not satisfied LHS: -5.600013537332416e-06
None not satisfied LHS: -0.0016530000139027834
None not satisfied LHS: -0.0006232000014279038
is satisfied
None not satisfied LHS: -0.00021199998445808887
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.00017919999663718045
is satisfied
None not satisfied LHS: -0.001007299986667931
None not satisfied LHS: -0.0019161999807693064
None not satisfied LHS: -0.002282300003571436
None not satisfied LHS: -0.0021481000003404915
is satisfied
None not satisfied LHS: -0.0016032000130508095
is satisfied
None not satisfied LHS: -0.0009170000266749412
None not satisfied LHS: -0.0020095999934710562
is satisfied
None not satisfied LHS: -0.00208459998248145
None not satisfied LHS: -0.0008396999910473824
is satisfied
is satisfied
None not satisfied LHS: -0.0004090000002179295
is satisfied
None not satisfied LHS: -0.002796799992211163
is satisfied
None not satisfied LHS: -0.0009743999980855733
None not satisfied LHS: -0.0018959999724756926
is satisfied
None not satisfied LHS: -0.003088799974648282
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -2.0799983758479357e-05
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0020314000139478594
None not satisfied LHS: -0.0001396999869029969
None not satisfied LHS: -0.00048400001833215356
is satisfied
None not satisfied LHS: -0.0007291999936569482
None not satisfied LHS: -0.0020511999900918454
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0009452000085730106
None not satisfied LHS: -0.0023204999743029475
is satisfied
is satisfied
None not satisfied LHS: -0.0028446999785955995
None not satisfied LHS: -0.0019026999943889678
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.002859200001694262
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.00171720000798814
None not satisfied LHS: -0.001121999986935407
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0030829999886918813
is satisfied
is satisfied
None not satisfied LHS: -0.0019572000310290605
is satisfied
None not satisfied LHS: -0.002603999979328364
is satisfied
is satisfied
None not satisfied LHS: -0.0019247999880462885
None not satisfied LHS: -0.0024600000178907067
is satisfied
None not satisfied LHS: -0.00032879997161217034
None not satisfied LHS: -0.00134379998780787
None not satisfied LHS: -0.001660600013565272
None not satisfied LHS: -0.0013700000126846135
None not satisfied LHS: -0.0009268000139854848
is satisfied
None not satisfied LHS: -0.001649200014071539
is satisfied
None not satisfied LHS: -0.0023339999897871166
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0024415999941993505
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0012189999979455024
is satisfied
is satisfied
None not satisfied LHS: -0.0025365000183228403
None not satisfied LHS: -0.0014910000027157366
None not satisfied LHS: -0.0015564000059384853
is satisfied
None not satisfied LHS: -0.0012267999991308898
is satisfied
None not satisfied LHS: -0.002230600017355755
None not satisfied LHS: -0.0027190000109840184
None not satisfied LHS: -0.002368400018895045
is satisfied
is satisfied
None not satisfied LHS: -0.0005174999823793769
is satisfied
None not satisfied LHS: -0.0022655000211670995
None not satisfied LHS: -0.0016849999665282667
is satisfied
None not satisfied LHS: -0.0011537999962456524
is satisfied
is satisfied
None not satisfied LHS: -0.0003665999975055456
is satisfied
None not satisfied LHS: -0.001468800037400797
is satisfied
None not satisfied LHS: -0.0030006000015418977
is satisfied
None not satisfied LHS: -0.0025859999877866358
None not satisfied LHS: -0.001568600011523813
None not satisfied LHS: -0.003443000023253262
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0023904000117909163
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0026376000023446977
is satisfied
None not satisfied LHS: -0.00033999999868683517
None not satisfied LHS: -0.0020800000056624413
None not satisfied LHS: -0.0026760000037029386
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0032947999716270715
is satisfied
is satisfied
None not satisfied LHS: -0.0014560000272467732
is satisfied
None not satisfied LHS: -0.0013743999879807234
is satisfied
None not satisfied LHS: -0.002486399986082688
None not satisfied LHS: -0.003244999999878928
is satisfied
None not satisfied LHS: -0.0011307999957352877
None not satisfied LHS: -0.0033830000029411167
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0013037999742664397
None not satisfied LHS: -0.0029473000031430274
None not satisfied LHS: -0.0017525999865029007
is satisfied
None not satisfied LHS: -0.0024919999996200204
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.001202200015541166
None not satisfied LHS: -0.002241399954073131
is satisfied
None not satisfied LHS: -0.00182679999852553
None not satisfied LHS: -0.0011014999763574451
is satisfied
is satisfied
None not satisfied LHS: -0.000838399981148541
None not satisfied LHS: -0.0030438000103458762
is satisfied
None not satisfied LHS: -0.0029089999734424055
None not satisfied LHS: -0.0015304000116884708
None not satisfied LHS: -0.002957999997306615
None not satisfied LHS: -0.003316999995149672
None not satisfied LHS: -0.0016351999947801232
None not satisfied LHS: -0.001768799964338541
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.003252300026360899
None not satisfied LHS: -0.0008569999772589654
None not satisfied LHS: -0.003371000027982518
is satisfied
None not satisfied LHS: -0.0029400000057648867
is satisfied
None not satisfied LHS: -0.0007384999771602452
None not satisfied LHS: -0.0005930000043008476
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.002118799980962649
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0037799999699927866
is satisfied
None not satisfied LHS: -0.00019580000662244856
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.002654000010807067
is satisfied
is satisfied
None not satisfied LHS: -0.0008832000021357089
None not satisfied LHS: -0.00015690000145696104
None not satisfied LHS: -0.00045499997213482857
None not satisfied LHS: -0.0010847999947145581
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0032648000051267445
is satisfied
None not satisfied LHS: -0.0017689999949652702
is satisfied
None not satisfied LHS: -0.0009614999871701002
None not satisfied LHS: -0.0006549000099767
None not satisfied LHS: -0.0009024000028148293
None not satisfied LHS: -0.0037250000168569386
None not satisfied LHS: -0.0011189999931957573
is satisfied
None not satisfied LHS: -0.0012024000170640647
is satisfied
None not satisfied LHS: -0.0016744000022299588
is satisfied
is satisfied
None not satisfied LHS: -0.0004304000176489353
None not satisfied LHS: -0.0011249999806750566
is satisfied
is satisfied
None not satisfied LHS: -0.0002811999584082514
is satisfied
None not satisfied LHS: -0.00029200001154094934
None not satisfied LHS: -0.0019540000066626817
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0016375999839510769
is satisfied
None not satisfied LHS: -0.0018168000096920878
None not satisfied LHS: -0.0011240000021643937
None not satisfied LHS: -0.0032919000077527016
None not satisfied LHS: -0.0009545999928377569
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -2.4199980543926358e-05
None not satisfied LHS: -0.0014984000299591571
is satisfied
None not satisfied LHS: -0.0014599999994970858
is satisfied
None not satisfied LHS: -0.00018200001795776188
is satisfied
None not satisfied LHS: -0.0014760999765712768
is satisfied
is satisfied
None not satisfied LHS: -0.0019019999890588224
is satisfied
None not satisfied LHS: -0.003823600010946393
None not satisfied LHS: -0.0010623999987728894
None not satisfied LHS: -0.000471399980597198
is satisfied
None not satisfied LHS: -0.0009123999916482717
None not satisfied LHS: -0.0008498000097461045
is satisfied
None not satisfied LHS: -0.0019637000223156065
None not satisfied LHS: -0.001760399987688288
None not satisfied LHS: -0.003744200017536059
is satisfied
is satisfied
None not satisfied LHS: -0.003194399963831529
None not satisfied LHS: -0.002108000000589527
None not satisfied LHS: -0.0009277999633923173
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.002133200061507523
None not satisfied LHS: -0.0015300000086426735
is satisfied
None not satisfied LHS: -0.0025679999962449074
is satisfied
None not satisfied LHS: -0.0017373000155203044
is satisfied
None not satisfied LHS: -0.003398200002266094
None not satisfied LHS: -0.001456199970562011
is satisfied
None not satisfied LHS: -0.002292799996212125
is satisfied
None not satisfied LHS: -0.0003525000065565109
None not satisfied LHS: -0.0031239999807439744
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0025462000048719347
is satisfied
None not satisfied LHS: -0.00358399999095127
None not satisfied LHS: -0.0025624000118114054
is satisfied
None not satisfied LHS: -0.0001303999888477847
None not satisfied LHS: -0.003431499993894249
None not satisfied LHS: -0.001820000004954636
is satisfied
None not satisfied LHS: -0.003345000004628673
is satisfied
is satisfied
None not satisfied LHS: -0.0014179999998304993
None not satisfied LHS: -0.000683599995682016
None not satisfied LHS: -0.0024991999671328813
None not satisfied LHS: -0.0030012000061105937
is satisfied
None not satisfied LHS: -0.0010991999879479408
None not satisfied LHS: -0.002550000004703179
None not satisfied LHS: -0.0017571999924257398
None not satisfied LHS: -0.00018400000408291817
is satisfied
None not satisfied LHS: -0.0006778000097256154
None not satisfied LHS: -0.002613599965116009
None not satisfied LHS: -0.00025839998852461576
None not satisfied LHS: -0.001985600043553859
None not satisfied LHS: -0.0032740000169724226
is satisfied
is satisfied
None not satisfied LHS: -0.0036115999973844737
None not satisfied LHS: -0.0003620999923441559
None not satisfied LHS: -0.0013835999998264015
is satisfied
is satisfied
None not satisfied LHS: -0.0028332000074442476
None not satisfied LHS: -0.0028104000084567815
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0002970999921672046
None not satisfied LHS: -0.0011400000075809658
is satisfied
is satisfied
None not satisfied LHS: -0.0016903999930946156
None not satisfied LHS: -0.0026083999837283045
None not satisfied LHS: -0.0019220999965909868
is satisfied
None not satisfied LHS: -0.001207199995405972
is satisfied
is satisfied
None not satisfied LHS: -0.002523500006645918
None not satisfied LHS: -0.002834999992046505
None not satisfied LHS: -0.0032844000088516623
None not satisfied LHS: -0.0033410000323783606
is satisfied
None not satisfied LHS: -0.0009772000194061548
None not satisfied LHS: -0.002586800022982061
is satisfied
None not satisfied LHS: -0.002028200018685311
None not satisfied LHS: -0.00010210002074018121
None not satisfied LHS: -0.0014284999924711883
None not satisfied LHS: -0.0032168000179808587
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0022831999813206494
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.002488500002073124
None not satisfied LHS: -0.0010247999744024128
None not satisfied LHS: -0.0016178999794647098
is satisfied
None not satisfied LHS: -0.0005092000064905733
None not satisfied LHS: -0.0013316000113263726
None not satisfied LHS: -0.002183000004151836
is satisfied
is satisfied
None not satisfied LHS: -0.0032216000254265964
None not satisfied LHS: -0.000288500013994053
None not satisfied LHS: -0.003100900008575991
is satisfied
None not satisfied LHS: -0.0005423999973572791
None not satisfied LHS: -0.002666699991095811
None not satisfied LHS: -0.003518499986967072
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.00026199998683296144
is satisfied
is satisfied
None not satisfied LHS: -0.001440399995772168
None not satisfied LHS: -0.0014618000132031739
is satisfied
None not satisfied LHS: -0.0019918000034522265
is satisfied
is satisfied
None not satisfied LHS: -0.0011384000245016068
None not satisfied LHS: -0.0008513000211678445
None not satisfied LHS: -0.0024151999969035387
is satisfied
None not satisfied LHS: -0.0015349999885074794
None not satisfied LHS: -0.0007965000113472342
is satisfied
is satisfied
None not satisfied LHS: -0.00080750000779517
is satisfied
is satisfied
None not satisfied LHS: -0.0031741999846417457
is satisfied
None not satisfied LHS: -0.0013324000174179673
None not satisfied LHS: -0.0030098000133875757
None not satisfied LHS: -0.002285300026414916
is satisfied
is satisfied
None not satisfied LHS: -0.003220000013243407
is satisfied
is satisfied
None not satisfied LHS: -0.0033131999953184277
None not satisfied LHS: -0.0017596000107005239
None not satisfied LHS: -0.0008634999976493418
is satisfied
None not satisfied LHS: -0.0017095999792218208
is satisfied
None not satisfied LHS: -0.0026166999887209386
None not satisfied LHS: -0.002576599974418059
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0030555000412277877
is satisfied
None not satisfied LHS: -0.0033244000223930925
None not satisfied LHS: -0.0005360000068321824
None not satisfied LHS: -0.000987299979897216
is satisfied
None not satisfied LHS: -0.0027774999907705933
is satisfied
is satisfied
None not satisfied LHS: -0.00038599997060373425
is satisfied
None not satisfied LHS: -0.00016589998267591
None not satisfied LHS: -0.0008532000065315515
is satisfied
None not satisfied LHS: -0.0006480000156443566
None not satisfied LHS: -0.0020690000092145056
None not satisfied LHS: -0.0016670000040903687
None not satisfied LHS: -0.002195300010498613
None not satisfied LHS: -0.00039090000791475177
None not satisfied LHS: -0.0019176999921910465
None not satisfied LHS: -0.0016699999978300184
None not satisfied LHS: -0.0014121999847702682
is satisfied
None not satisfied LHS: -0.0021876000391785055
None not satisfied LHS: -0.0018004000012297183
None not satisfied LHS: -0.0019053999858442694
None not satisfied LHS: -0.0009212000295519829
None not satisfied LHS: -0.0013128000136930496
is satisfied
None not satisfied LHS: -0.003093099978286773
is satisfied
is satisfied
None not satisfied LHS: -0.0010375000128988177
None not satisfied LHS: -0.000434000015957281
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0003273000183980912
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0007221999985631555
None not satisfied LHS: -0.0016792000096756965
None not satisfied LHS: -3.440000000409782e-05
None not satisfied LHS: -0.0014519999967887998
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0025797999987844378
is satisfied
is satisfied
None not satisfied LHS: -0.0006988000241108239
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.00013349999790079892
None not satisfied LHS: -9.679998038336635e-05
is satisfied
None not satisfied LHS: -0.0029155000229366124
None not satisfied LHS: -0.001292199973249808
None not satisfied LHS: -0.00031220001983456314
is satisfied
is satisfied
None not satisfied LHS: -0.0036863999848719686
is satisfied
is satisfied
None not satisfied LHS: -0.000903200008906424
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0016036000160966069
is satisfied
is satisfied
None not satisfied LHS: -0.0011847000569105148
None not satisfied LHS: -0.0020480000239331275
is satisfied
is satisfied
None not satisfied LHS: -3.100000321865082e-05
None not satisfied LHS: -0.002468799997586757
None not satisfied LHS: -0.00060299999313429
is satisfied
is satisfied
None not satisfied LHS: -0.0021884999878238887
None not satisfied LHS: -0.0027828000020235777
None not satisfied LHS: -0.001091399957658723
is satisfied
None not satisfied LHS: -0.0015554999990854412
is satisfied
is satisfied
None not satisfied LHS: -0.00033400001120753586
None not satisfied LHS: -0.00219569998444058
is satisfied
None not satisfied LHS: -0.00033249997068196535
None not satisfied LHS: -0.0024902000150177628
is satisfied
None not satisfied LHS: -0.0008718000171938911
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0034094000002369285
is satisfied
None not satisfied LHS: -0.0010680000123102218
None not satisfied LHS: -0.0021379999816417694
None not satisfied LHS: -0.001279799995245412
is satisfied
None not satisfied LHS: -0.0026265000051353127
is satisfied
None not satisfied LHS: -0.003237999975681305
None not satisfied LHS: -0.0020098000240977854
is satisfied
None not satisfied LHS: -0.0011736000305972993
is satisfied
None not satisfied LHS: -0.001658799999859184
is satisfied
None not satisfied LHS: -0.00015199999324977398
is satisfied
None not satisfied LHS: -0.0005863999831490219
is satisfied
is satisfied
None not satisfied LHS: -0.0007510000141337514
is satisfied
None not satisfied LHS: -0.0030501000001095235
is satisfied
None not satisfied LHS: -0.001848500018240884
None not satisfied LHS: -0.002304199995705858
is satisfied
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0018080000299960375
is satisfied
is satisfied
None not satisfied LHS: -0.0010559999791439623
None not satisfied LHS: -0.003418700012844056
is satisfied
is satisfied
None not satisfied LHS: -0.0024372000189032406
is satisfied
None not satisfied LHS: -0.0027854000218212605
None not satisfied LHS: -2.9400020139291883e-05
is satisfied
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.0023351999989245087
None not satisfied LHS: -0.00030839999089948833
None not satisfied LHS: -0.0024648999969940633
None not satisfied LHS: -0.001076799992006272
None not satisfied LHS: -0.0003685000410769135
is satisfied
is satisfied
None not satisfied LHS: -0.0011520000116433948
None not satisfied LHS: -0.00355880000279285
None not satisfied LHS: -0.0012750000169035047
None not satisfied LHS: -0.0015279999643098563
is satisfied
is satisfied
None not satisfied LHS: -0.0034899000311270356
is satisfied
None not satisfied LHS: -0.0020277999865356833
None not satisfied LHS: -0.0006940000166650862
None not satisfied LHS: -0.0019816999847535044
None not satisfied LHS: -0.0003092000260949135
None not satisfied LHS: -0.0016097999759949744
None not satisfied LHS: -0.0002975999959744513
is satisfied
is satisfied
is satisfied
None not satisfied LHS: -0.00231580002582632
None not satisfied LHS: -0.0029900000081397593
None not satisfied LHS: -0.0017003999964799732
None not satisfied LHS: -0.001724000001559034
None not satisfied LHS: -0.0027459999837446958
is satisfied

In [197]:
"DMZ001" in not_satisfied

False

In [198]:
"DMZ107" in not_satisfied

False

In [199]:
len(not_satisfied)

49

## Results

In [281]:
dict_wtp = {}
dict_dmz = {}

In [282]:
# df = pd.DataFrame(0, index=dmz, columns = wtp)
# df

df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [283]:
# Getting the results
for v in model.variables():
    # print(v.name, v.varValue)
    name = v.name.replace("Volume_", "").replace("_", "")
    # print(name)

    combi = eval(name)
    # print(combi[0])

    curr_dmz = combi[0]
    curr_wtp = combi[1]
    volume = v.varValue

    # print("DMZ: ", dmz, " ", "WTP: ", wtp, " ", "Value: ", volume)

    df.loc[curr_dmz, curr_wtp] = volume

In [284]:
# Supply of water from each WTP to each DMZ (including distribution loss)
df = df.fillna(0)
df

,AmpangIntake,BatangKali,BernamRiverHead,WTP1,WTP10,WTP11,WTP12,WTP13,WTP15,WTP16,...,WTP5,WTP6,WTP7,WTP8,WangsaMaju,WTP14,WTP26,WTP9,SungaiTengi,WTP2
DMZ001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,219953.31,0.0,0.0,0.00,0.00,0.0
DMZ002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0
DMZ003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0
DMZ004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,263659.52,0.0
DMZ005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DMZ995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0
DMZ996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,209710.92,0.0,0.0,0.00,0.00,0.0
DMZ997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,338351.29,0.00,0.0
DMZ998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0
DMZ999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0

In [285]:
# df.columns = ["Ampang Intake", "Batang Kali", "Bername River Head", "Sungai Tengi", "Wangsa Maju"]
# df = df[["Ampang Intake", "Batang Kali", "Bername River Head", "Wangsa Maju", "Sungai Tengi", ]]

In [286]:
# Supply of water from each WTP to each DMZ (including distribution loss)
# df

### Renaming the columns for distribution loss to match result df

In [287]:
col_list = df.columns.tolist()
print(col_list[:5])

temp_col_list = distribution_loss.columns.tolist()
dist_col_list = [w.replace(" ", "") for w in temp_col_list]

print(dist_col_list[:5])

['AmpangIntake', 'BatangKali', 'BernamRiverHead', 'WTP1', 'WTP10']
['AmpangIntake', 'BatangKali', 'BernamRiverHead', 'WTP1', 'WTP2']

In [288]:
result_distribution_loss = distribution_loss.iloc[:CUT_OFF, :].copy()
result_distribution_loss.columns = dist_col_list

In [289]:
result_distribution_loss = result_distribution_loss[col_list]

In [290]:
print(col_list[:10])
print(result_distribution_loss.columns.tolist()[:10])

['AmpangIntake', 'BatangKali', 'BernamRiverHead', 'WTP1', 'WTP10', 'WTP11', 'WTP12', 'WTP13', 'WTP15', 'WTP16']
['AmpangIntake', 'BatangKali', 'BernamRiverHead', 'WTP1', 'WTP10', 'WTP11', 'WTP12', 'WTP13', 'WTP15', 'WTP16']

### Accounting for distribution loss

In [291]:
useful_amount = 1- result_distribution_loss.values

In [292]:
temp = df.values * useful_amount
temp

array([[     0.       ,      0.       ,      0.       , ...,
             0.       ,      0.       ,      0.       ],
       [     0.       ,      0.       ,      0.       , ...,
             0.       ,      0.       ,      0.       ],
       [     0.       ,      0.       ,      0.       , ...,
             0.       ,      0.       ,      0.       ],
       ...,
       [     0.       ,      0.       ,      0.       , ...,
        225595.7226075,      0.       ,      0.       ],
       [     0.       ,      0.       ,      0.       , ...,
             0.       ,      0.       ,      0.       ],
       [     0.       ,      0.       ,      0.       , ...,
             0.       ,      0.       ,      0.       ]])

In [293]:
temp.shape

(999, 45)

In [294]:
# Supply of water from each WTP to each DMZ, after accounting for water loss
final_df = pd.DataFrame(temp, columns = col_list, index=dmz)
final_df.round(3)

,AmpangIntake,BatangKali,BernamRiverHead,WTP1,WTP10,WTP11,WTP12,WTP13,WTP15,WTP16,...,WTP5,WTP6,WTP7,WTP8,WangsaMaju,WTP14,WTP26,WTP9,SungaiTengi,WTP2
DMZ001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,160044.627,0.0,0.0,0.000,0.000,0.0
DMZ002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.000,0.000,0.0
DMZ003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.000,0.000,0.0
DMZ004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.000,194644.004,0.0
DMZ005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.000,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DMZ995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.000,0.000,0.0
DMZ996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,149049.939,0.0,0.0,0.000,0.000,0.0
DMZ997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.0,0.0,225595.723,0.000,0.0
DMZ998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.000,0.000,0.0
DMZ999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.000,0.000,0.0

In [295]:
# wtp

In [296]:
supply = final_df.sum(axis=1)
supply[:5]

DMZ001    160044.626955
DMZ002    150056.745492
DMZ003    141891.569672
DMZ004    194644.004045
DMZ005    126901.552787
dtype: float64

In [297]:
sum(final_df.loc["DMZ001",:])

160044.6269553

In [298]:
demand.loc["DMZ001", "Demand"]

160044.62961

In [299]:
prob = []
print("       ", "Supply", "            ", "Demand")
for curr_dmz in dmz:
    a = supply[curr_dmz]
    b = demand.loc[curr_dmz, "Demand"]
    if not (np.isclose(a, b, rtol=1e-05, atol=1e-08, equal_nan=False)) and a <= b:
        print(curr_dmz, supply[curr_dmz], ">=", demand.loc[curr_dmz, "Demand"], "?")
        prob.append(curr_dmz)

        Supply              Demand

In [200]:
# prob = []
# for curr_dmz in dmz:
#     # print(supply[curr_dmz], ">=", demand.loc[curr_dmz, "Demand"], "?")
#     # print(supply[curr_dmz] >= demand.loc[curr_dmz, "Demand"])
#     a = supply[curr_dmz]
#     b = demand.loc[curr_dmz, "Demand"]
#     if not (np.isclose(a, b, rtol=1e-05, atol=1e-08, equal_nan=False)) and a <= b:
#         print(curr_dmz, supply[curr_dmz], ">=", demand.loc[curr_dmz, "Demand"], "?")
#         prob.append(curr_dmz)
#     # elif (np.isclose(a, b, rtol=1e-05, atol=1e-08, equal_nan=False)):
#     #     print(True)
#     # else: 
#     #     print(supply[curr_dmz], ">=", demand.loc[curr_dmz, "Demand"], "?")
#     #     print(supply[curr_dmz] >= demand.loc[curr_dmz, "Demand"])

In [54]:
len(prob)

0

In [201]:
check_capacity = final_df.sum(axis=0)

In [205]:
prob_wtp = []
for curr_wtp in wtp:
    # print(curr_dmz, check_capacity[curr_wtp], "<=", capacity.loc[curr_wtp, "Capacity"], "?")
    # print(check_capacity[curr_wtp] <= capacity.loc[curr_wtp, "Capacity"])

    temp_wtp = curr_wtp.replace(" ", "")

    a = check_capacity[temp_wtp]
    b = capacity.loc[curr_wtp, "Capacity"]
    if not (np.isclose(a, b, rtol=1e-05, atol=1e-08, equal_nan=False)) and a >= b:
        print(curr_dmz, check_capacity[temp_wtp], "<=", capacity.loc[curr_wtp, "Capacity"], "?")
        prob_wtp.append(curr_wtp)
    # elif (np.isclose(a, b, rtol=1e-05, atol=1e-08, equal_nan=False)):
    #     print(True)
    # else: 
    #     # print(curr_dmz, check_capacity[curr_wtp], "<=", capacity.loc[curr_wtp, "Capacity"], "?")
    #     print(check_capacity[curr_wtp] <= capacity.loc[curr_wtp, "Capacity"])

In [146]:
len(prob_wtp)

0

In [236]:
df.head()

,AmpangIntake,BatangKali,BernamRiverHead,SungaiTengi,WTP1,WTP10,WTP11,WTP12,WTP13,WTP14,...,WTP38,WTP39,WTP4,WTP40,WTP5,WTP6,WTP7,WTP8,WTP9,WangsaMaju
DMZ001,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,219953.31
DMZ002,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
DMZ003,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,208480.12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
DMZ004,0.0,0.0,0.0,263659.52,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
DMZ005,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00

In [237]:
final_df.head()

,Ampang Intake,Batang Kali,Bernam River Head,WTP1,WTP2,WTP3,WTP4,WTP5,WTP6,WTP7,...,WTP33,WTP34,WTP35,WTP36,WTP37,WTP38,WTP39,WTP40,Wangsa Maju,Sungai Tengi
DMZ001,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,160044.626955
DMZ002,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
DMZ003,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,141891.569672,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
DMZ004,0.0,0.0,0.0,194644.004045,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
DMZ005,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [238]:
# Export results

df.to_excel("../dataset2/result_without_loss.xlsx", index=True)
final_df.to_excel("../dataset2/result.xlsx", index=True)

In [132]:
demand.loc["DMZ005", "Demand"]

126901.55527